header
   background white    
   font-family 'Oswald', sans-serif;
   height 60px
   width 100%
   display flex
   justify-content space-between
   align-items center
   box-shadow 0px 2px 3px -2px rgba(0,0,0,0.38)
   position fixed
   z-index 2
nav
    width 100%
    display flex
    align-items center
figure
    width 150px 
ul
    display flex
    padding 20px
    list-style none
li 
    padding: 0px 20px
header li a 
    color lightgray
    text-decoration none
.burgerMenu
    font-size 20px
    color black
    padding-right 20px 

  @media screen and (min-width: 320px) and (max-width: 850px)
    ul 
        display none